<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>Polling Home</title>
</head>
<body>
    <nav>
        <a href="/" class='brand'>Polar</a>
        <a href="/browse">Browse Polls</a>
        <a href="/account">My Account</a>
    </nav>
    <div class="hero">
        <img src="img/polls.svg" class='hero-img'>
        <section>
            <h1 class='title'>Polar Polls</h1>
            <p class="subtitle">Polling made quick and easy</p>
            <a href="/browse" class="btn">Browse Polls</a>
            <a href="/create-poll" class="btn">Create a Poll</a>
        </section>
    </div>
    <a class="wrapper" href='/create-poll'>
        <div class="plus-btn">
            <div class="line line1"></div>
            <div class="line line2"></div>
        </div>
    </a>
</body>
</html>