<footer>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/karena-lai-6401ab1a9/" target='blank'>
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/karena.lai.963" target='blank'>
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://github.com/klai890" target='blank'>
            <i class="fab fa-github"></i>
        </a>
    </div>
    <p>Copyright &copy; 2020</p>
    <a href="/auth/login"><img src="https://img.icons8.com/officel/344/key.png" alt="" class="key"></a>
</footer>