doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./css/style.css')
  link(rel='stylesheet' href='./css/index.css')
  title Polling Home
nav
  a.brand(href='/') Polar
  a(href='/browse') Browse Polls
  a(href='/account') My Account
.hero
  img.hero-img(src='img/polls.svg')
  section
    h1.title Polar Polls
    p.subtitle Polling made quick and easy
    a.btn(href='/browse') Browse Polls
    a.btn(href='/create-poll') Create a Poll
a.wrapper(href='/create-poll')
  .plus-btn
    .line.line1
    .line.line2
