<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/header') %>
<body>
    <%- include('./layouts/nav') %>
    <section class="header">About Me</section>
    <section class="content about-content">
        <div class="about">
            <h1>Who is This?</h1>
            <p class="bio">
                First and foremost, a little bit about me. Well, I say first and foremost formally. I would
                sure hope that you are here for the content "first and foremost," although it is
                always good to double check the source. So, who am I? I'm Karena, high school student fortunate
                enough to be born and raised in the Bay Area. Some of my hobbies include programming, writing, and
                 reading (the latter being the most addictive). I like to write about topics ranging from mathematics
                 to psychology to coding tricks, and this is my blog- where I can dump all the content! Enjoy!
            </p>
        </div>
        <img src="/img/avatar2.svg" alt="" class="avatar">
    </section>
    <%- include('./layouts/footer') %>
</body>
</html>