.title{
    line-height: 2.5;
}

.options{
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.option{
    height: 100%;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
}

.option-btn{
    flex: 1 1 0;
    width: 100%;
    color: white;
    background: var(--main);
    padding: .5rem;
    cursor: pointer;
}

.searchbar{
    width: 100%;
    margin: 2rem 0;
}   

.search-head{
    position: relative;
    margin: 2rem 0;
    border-bottom: 1px solid #ddd;
}

.search-after, .border-between{
    width: 15px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.search-after{
    cursor: pointer;
}

#x{
    /* will appear on click, and clears #searchbar on click */
    right: 60px;
    width: 12px;
}

.border-between{
    height: 20px;
    width: 1px;
    background: #aaa;
    right: 45px;
}

.poll-footer{
    padding-top: 1rem;
    line-height: 1.25;
    margin-top: auto;
    text-align: start;
}

.poll-footer p{
    padding: .5rem 0;
}

.poll-vote{
    text-align: center;
    margin-top: auto;
    line-height: 2;
}