.create-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 2.5rem auto;
}

.create-form .title{
    font-family: Avenir, Avenir Next, Arial, Helvetica, sans-serif;
}

input, textarea{
    width: 800px;
}

.section-title{
    align-self: flex-start;
    padding: 1rem 0;
}

.add-btn{
    border-radius: 50%;
    padding: 1.5rem;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* config add row button; add functionality */
.add-btn .line{
    height: 20px;
    width: 2px;
}

.add-btn .line1{
    transform: rotate(90deg) translateX(-10px);
}

/* add media queries */