@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    outline: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/* navbar styling */

.navbar{
    padding: 26px 56px;
    color: #fff;
}

.nav-items{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item{
    margin-right: 55px;
}

.brand{
    margin-right: auto;
}

.brand a{
    display: flex;
    align-items: baseline;
}

.brand img{
    width: 23px;
    height: 27px;
}

.brand-text{
    margin-left: 10px;
    font-family: Avenir Next, Avenir, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
}

/* pollbox styling */
.pollbox{
    margin: 2rem auto;
    padding: 0 3rem;
    width: 40%;
    border: 5px solid #333;
    box-shadow: 18px 21px 0 0 rgba(0,0,0,.5);
    overflow: hidden;
    overflow-y: scroll;
    background: #fff;
    position: relative;
}

.poll-title{
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 40px;
    font-size: 32px;
    font-weight: bold;
    resize: none;
    border: none;
}

.poll-description{
    margin-top: 10px;
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid #bbb;
}

.question{
    margin-top: 48px;
}

.options{
    margin-top: 1rem;
}

.option{
    display: flex;
    align-items: center;
    margin: .25rem 0;
    position: relative;
}

.opt-rm{
    border: none;
    background: none;
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: .75rem .5rem;
}

.line{
    height: 2px;
    width: 20px;
    border-radius: 999px;
    background: #CC2D14;
}

.line1{
    transform: rotate(45deg);
}

.line2{
    transform: rotate(-45deg) translate(1px, -2px);
}

input[name='option']{
    background: #eee;
    width: 100%;
    border: none;
    text-indent: 20px;
    font-size: 1rem;
    padding: .5rem 0;
}

.submit{
    bottom: 0;
    float: right;
    background: #CCA715;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    padding: 10px 33px;
    border-radius: 19px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: opacity .2s;
}

.submit:hover{
    opacity: .5;
}

/* blue cover styling */
.blue-cover{
    background: #0275CB;
    height: 462px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

/* self promotion styling */
.self-promotion{
    margin: 5rem auto;
    margin-top: 10rem;
    text-align: center;
}

hr{
    width: 649px;
    margin: 14px auto;
    border: 1px solid #6A14CC;
}

.self-promotion img{
    margin-top: 40px;
}

/* features styling */
.features-section{
    text-align: center;
}

.features{
    display: flex;
    width: 808px;
    justify-content: space-between;
    margin: 50px auto;
}

.feature{
    width: 225px;
    height: 158px;
    line-height: 1.5;
}

.feature h3{
    color: #444;
    text-decoration: underline;
    text-decoration-color: #6A14CC;
}

.feature img{
    width: 70px;
}

/* footer styling */
footer{
    background: #333;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}
